/* This styles all the text and the background color of all the pages.*/
body
{
    background-color: #F8F0E3;
    font-family: Arial, Helvetica, sans-serif;
}
/* This was the standard "orange" containers I picked out. This also helped all the containers to have some nice margins, paddings and also a nice rounded
corner with a border.
 */
.standard-container
{
    border: 2px solid darkgray;
    padding: 10px;
    border-radius: 10px;
    background-color: coral;
    margin: 10px 0;
}
/* This is the styling for the do's and don'ts. This was to separate the colors from red and green.*/

#dos
{
    border: 2px solid darkgray;
    padding: 10px;
    border-radius: 10px;
    background-color: #68d97b;
}
#donts
{
    border: 2px solid darkgray;
    padding: 10px;
    border-radius: 10px;
    background-color: #eb726a;
}
/* This was also for the dos and the don'ts as I wanted them side by side instead of stacked horizontally.*/
.flex-wrapper
{
    display: flex;
    gap: 20px;
}
/* I wanted all the headings to be centered so I made a rule set for that*/
h1, h2, h3
{
    text-align: center;
}
/* This was for styling the navigation list. This turned off all the preexisting styling and then made my own styling on it
I used flex so they would go next to eachother and center so they would go to the center.
 */
nav ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}
/* This was for styling the actual text and also the background color to get the illusion of a border, to make it look more like a button. */
nav a
{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    background-color: burlywood;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
}
/* The image was huge so I had to scale it down.*/
footer img
{
    width: 50px ;
}
/* This was to make the table look nice. I made the margin 0 auto so that the text would automatically align to the center of the screen no matter if
they are on mobile or on desktop. I made the border-collapse so they don't get to much spacing. Background color so it matched the buttons on the nav.
I made the font bold for easier readability.
 */
table
{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    border-collapse: collapse;
    background-color: burlywood;
    font-weight: bold;
    border-radius: 10px;
}
/* This was to make the small gray lines for readability */
tbody tr
{
    border-bottom: 1px solid darkgray;
}
/* Same reason as the LinkedIn image.*/
.instrument-image
{
    width: 50px;
}